*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    padding: 15px;
    color: #4CAF50;
    font-size: 24px;
    
}
header nav{
    display: flex;
    justify-content: center;
}

header nav a {
    padding: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main h2{
    padding: 30px 0 10px 0;
    margin: 20px 0;
    color: #4CAF50;
    text-align: center;

}
main p{
    padding: 0 20px 20px 20px;
    text-align: center;
    color: #555;
    line-height: 1.6;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #f1f1f1;
    color: #777;
    position: fixed;
    width: 100%;
    bottom: 0;
}
